<?extend "layout.html"?>     

<script type="text/x-handlebars" data-template-name="memories">  

  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="flash"><?=response.flash or ''?></div>
    <div class="navbar-inner">
      <div class="container">
        <?is_mobile=request.user_agent().is_mobile?>
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="<?='display:none;' if not is_mobile else ''?>"> -->
  <!--         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="display:none;">          
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->

        <a class="brand icon" style="background-color: none;" href="<?=URL('../..')?>">
          <?=XML("&nbsp&nbsp")?>
          <img src="<?=URL('static', 'images/favicon.png')?>"/>
        </a>
        <?=response.logo or ''?>        
        <!-- <ul id="navbar" class="nav pull-right hidden"><?='auth' in globals() and auth.navbar(mode="dropdown") or ''?></ul> -->

        <li class="<?='btn-group' if is_mobile else 'btn-group offset2'?>" data-toggle="buttons-radio">
          {{#link-to "memories.index"}}        
            <button class="btn ca_button" type="button">search</button>
          {{/link-to}}   
          {{#link-to "memories.share.song"}}        
            <button class="btn ca_button" type="button">share</button>
          {{/link-to}}
        </li>          

        <?include '../../shared/views/generic/also_by_ember.html'?>  
        <div class="<?='nav-collapse' if is_mobile else 'nav pull-right'?>">
                          
          <?if response.menu:?>
          <?=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')?>
          <?pass?>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->

  <div id="main_container">
    {{render 'g_map' controller='Memories'}}
    <div id="interface">             
      <div class="memory_display ca_section">
        {{outlet}}
      </div> 
    </div>       
  </div>          
</script>

<script type="text/x-handlebars" data-template-name="memories/index">  
  <div id="search_tab">
    <h4>Search Memories</h4>      
      <p>What does your song mean to other people? </p>
    <div class="search_tab_sub">
      <!-- <button class="btn ca_button" {{action 'renderMap'}}><i class="icon-search icon-white"></i> search</button> -->
      <form>            
        <fieldset>                        
          <div class="control-group">
            {{input type="text" placeholder="title (e.g. smells like teen spirit)" value=newTitle}}                  
          </div>
          <div class="control-group">
            {{input type="text" placeholder="artist (e.g. nirvana)" value=newArtist}}
          </div>
          <div class="control-group">
           {{#link-to "memories.results"}}
            <button class="btn ca_button" {{action 'searchMemories'}}><i class="icon-search icon-white"></i> search</button>
            {{/link-to}}
          </div>   
        </fieldset>            
      </form>
    </div>
  </div>  
</script>

<script type="text/x-handlebars" data-template-name="memories/results"> 
  <div class="content_display">
    {{youtube-iframe-player}}
  </div> 
  <div>
    <h4>{{newTitle}} - {{newArtist}}</h4>
    <div class="control-group">      
      <!-- <button class="btn ca_button"><i class="icon-random icon-white"></i></button> -->
      <button class="btn ca_button"><i class="icon-resize-small icon-white"></i> </button>
      <!-- <button class="btn ca_button"><i class=" icon-zoom-out icon-white"></i> </button> -->
      <button class="btn ca_button"><i class="icon-forward icon-white"></i> </button>                  
    </div>
    <div class="search_tab_sub">
      <!-- <button class="btn ca_button" {{action 'renderMap'}}><i class="icon-search icon-white"></i> search</button> -->
    </div>
    <!-- Placeholder for memory list display-->
    <div> 
      <ul>
        {{#each}}
          <li>
            {{#link-to 'memories.display' id}}
              {{g_place}}, {{tag1}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>  
</script>

<script type="text/x-handlebars" data-template-name="memories/share">  
  <div id="share_tab">
    <h4>Share Memories</h4>       
    {{outlet}}     
  </div>      
</script>

<script type="text/x-handlebars" data-template-name="memories/share/song">  
  <!-- first, ask which song -->
  <div class="share_tab_sub" id="share_tab_select_video">
    <p>Which song? </p>            
    <form>
      <fieldset>
        <div class="control-group">
          {{input type="text" placeholder="title (e.g. the scientist)" value=newTitle}} 
        </div>
        <div class="control-group">
          {{input type="text" placeholder="artist (e.g. coldplay)" value=newArtist}}
        </div>
        <!-- clicking on button pulls up next stage -->
        <div class="control-group">
          <button class="ca_button" {{action 'searchYoutube'}}> find videos for it </button> 
        </div>
      </fieldset>
    </form>  
  </div>  

  <div id="gsvb_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Which Song?</h3>
    </div>
    <div class="modal-body">
      <!-- container for YT player -->
        <div>
          <div id="player_container_share"> </div>              
          <!-- GSVideoBar (interactive search result that plays YT videos when you click on thumbnails)-->
          <div><div id="videoBar"></div></div>                  
        </div>      
    </div>
    <div class="modal-footer">
      {{#link-to "memories.share.location"}}
        <button class="ca_button" data-dismiss="modal" aria-hidden="true" {{action 'selectVideo'}}>Choose</button>
      {{/link-to}}
    </div>
  </div> 

</script>

<script type="text/x-handlebars" data-template-name="memories/share/location">  
  <!-- secondly, choose location associated with memory -->
  <div class="share_tab_sub" id="share_tab_select_location">
    <p> Enter location associated with memory </p>                    
    <!-- search box for location -->
    {{render 'g_places_input' controller='Memories'}}      
    
    <br/>
    {{#link-to "memories.share.story"}}
      <button id="select_place_button" class="btn ca_button" {{action 'confirmLocation'}}> yup - this is the place! </button>
    {{/link-to}}                                            
    </input>        
  </div>     
</script>

<script type="text/x-handlebars" data-template-name="memories/share/story">  
  <!-- finally, details about the memory -->
  <form class="share_tab_sub">
    <p> Finally, tell us what the song reminds you of! </p>     
    <div class="control-group">
      {{datepicker-input value=newMemoryDate placeholder="when?"}} 
    </div>  
    <div class="control-group">
        {{textarea placeholder="reminds me of..." rows=10 cols=30 value=newStory}} 
    </div>           
    <div class="control-group">
        {{input type="text" placeholder="tags (e.g. trip, friend)" value=newTags}} 
    </div>                                                                   
    <div class="control-group">
    {{#link-to "memories.results"}}    
        <button class="btn ca_button" {{action 'insertMemory'}}>share memory</button> 
    {{/link-to}}
    </div>                
  </form>    
</script>

<script type="text/x-handlebars" data-template-name="memories/display">  
  <p>{{g_place}}</p> 
</script>

<script type="text/x-handlebars" data-template-name="g_map">
  <div id="map_container">   
    {{#view Memories.GoogleMapView id="map_canvas"}}{{/view}}
  </div>
</script>