<?extend "layout.html"?>     

<script type="text/x-handlebars" data-template-name="application">
  <!-- Share modal -->
  <div id="share_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
      <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.yogurtjam.com&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="<?=URL('../../shared/static', 'images/flat_web_icon_set/color/Facebook.png')?>"></a></li>
        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.yogurtjam.com&text=: http%3A%2F%2Fwww.yogurtjam.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ': '  + encodeURIComponent(document.URL)); return false;"><img src="<?=URL('../../shared/static', 'images/flat_web_icon_set/color/Twitter.png')?>"></a></li>
        <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.yogurtjam.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="<?=URL('../../shared/static', 'images/flat_web_icon_set/color/Google.png')?>"></a></li>
        <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.yogurtjam.com&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img src="<?=URL('../../shared/static', 'images/flat_web_icon_set/color/Tumblr.png')?>"></a></li>
        <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.yogurtjam.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="<?=URL('../../shared/static', 'images/flat_web_icon_set/color/Reddit.png')?>"></a></li>
      </ul>
    </div>
  </div> 
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="flash"><?=response.flash or ''?></div>
    <div class="navbar-inner">
      <div class="container">
        <?is_mobile=request.user_agent().is_mobile?>
        <a class="brand icon" style="background-color: none;" href="<?=URL('index')?>">
          <?=XML("&nbsp&nbsp")?>
          <img src="<?=URL('static', 'images/favicon.png')?>"/>
        </a>
        <?=response.logo or ''?>
        <div class="offset4">
        <ul class="nav ca_nav">
          <li>
            {{#link-to "memories.index" activeClass="active"}}
            <i class="icon-search icon-white"></i> search
            {{/link-to}}
          </li>
          <li>
            {{#link-to "share.song" activeClass="active"}}
            <i class="icon-pencil icon-white"></i> share
            {{/link-to}}
          </li>
        </ul>
        </div>

      
        <?include '../../shared/views/generic/also_by_ember.html'?>  
        <div class="<?='nav-collapse' if is_mobile else 'nav pull-right'?>">                          
          <?if response.menu:?>
          <?=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')?>
          <?pass?>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->

  <div id="main_container">
    {{render 'google-map' controller='Memories' id="map_canvas"}}
    <div id="interface">
      <div class="memory_display ca_section">
        {{outlet}}
      </div> 
    </div>       
  </div>          
</script>

<script type="text/x-handlebars" data-template-name="memories/index">  
  <div id="search_tab">
    <h4>Search Memories</h4>      
      <p>What does your song mean to other people? </p>
    <div class="search_tab_sub">
      <form>            
        <fieldset>                        
          <div class="control-group">
            {{input type="text" placeholder="title (e.g. smells like teen spirit)" value=newTitle}}                  
          </div>
          <div class="control-group">
            {{input type="text" placeholder="artist (e.g. nirvana)" value=newArtist}}
          </div>
          <div class="control-group">    
            {{#link-to "songs" artistCode titleCode}}                 
            <button class="btn ca_button" {{action 'searchMemories'}}><i class="icon-search icon-white"></i> search</button>           
            {{/link-to}}
          </div>   
        </fieldset>            
      </form>
    </div>
  </div>  
</script>

<script type="text/x-handlebars" data-template-name="songs">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="songs/index">

  {{#if controller.noResults}}

    <div class="control-group">  
      {{#link-to "memories.index"}}
        <button class="btn btn ca_button" style="float:right;"><i class="icon-repeat icon-white"></i></button>             
      {{/link-to}}
    </div>
    <div>
      <h4>{{controller.newTitle}} - {{controller.newArtist}}</h4>
      <div>
        <p>No memories!</p>      
      </div>
    </div>

  {{else}}

    <div class="control-group">  
        {{#link-to "memory" randomId}}
        <button class="btn btn-primary ca_button" style="float:right;"><i class="icon-random icon-white"></i></button>             
        {{/link-to}}
    </div>
    <div>
      <h4>{{controller.newTitle}} - {{controller.newArtist}}</h4>
      <div>
        <ul>
          {{#each controller}}
            <li>
              {{#link-to 'memory' this}}            
                {{g_place}}, {{tag1}}
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  {{/if}}

</script>

<script type="text/x-handlebars" data-template-name="share">  
  <div id="share_tab">
    <h4>Share Memories</h4>       
    {{outlet}}     
  </div>      
</script>

<script type="text/x-handlebars" data-template-name="share/song">  

  <div class="share_tab_sub" id="share_tab_select_video">
    <p>Which song? </p>            
    <form>
      <fieldset>
        <div class="control-group">
          {{input type="text" placeholder="title (e.g. the scientist)" value=newTitle}} 
        </div>
        <div class="control-group">
          {{input type="text" placeholder="artist (e.g. coldplay)" value=newArtist}}
        </div>
        <!-- clicking on button pulls up next stage -->
        <div class="control-group">
          <button class="ca_button" {{action 'searchYoutube'}}> find videos for it </button> 
        </div>
      </fieldset>
    </form>  
  </div>  

  <div id="gsvb_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close video-search" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Which Song?</h3>
      <div id="foofoo" class="center" style="padding-top: 10px; padding-bottom: 10px;">
        {{#link-to "share.location"}}
          <button class="ca_button pull-right" data-dismiss="modal" aria-hidden="true" {{action 'selectVideo'}}>Choose</button>
        {{/link-to}}        
      </div>
    </div>
    <div class="modal-body">
        <!-- container for YT player -->
        <div>
          <div id="player_container_share"> </div>              
          <!-- GSVideoBar (interactive search result that plays YT videos when you click on thumbnails)-->
          <div><div id="videoBar"></div></div>                  
        </div>      
    </div>
  </div> 

</script>

<script type="text/x-handlebars" data-template-name="share/location">  
  <div class="share_tab_sub" id="share_tab_select_location">
    <p> Enter location associated with memory </p>                    
    {{render 'g_places_input' controller='Memories'}}     
    <br/>
    {{#link-to "share.story"}}
      <button id="select_place_button" class="btn ca_button" {{action 'confirmLocation'}}> yup - this is the place! </button>
    {{/link-to}}                                            
    </input>        
  </div>     
</script>

<script type="text/x-handlebars" data-template-name="share/story">  
  <form class="share_tab_sub">
    <p> Finally, tell us what the song reminds you of! </p>     
    <div class="control-group">
      {{datepicker-input value=newMemoryDate placeholder="when?"}} 
    </div>  
    <div class="control-group">
        {{textarea placeholder="reminds me of..." rows=10 cols=30 value=newStory}} 
    </div>           
    <div class="control-group">
        {{input type="text" placeholder="tags (e.g. trip, friend)" value=newTags}} 
    </div>                                                                   
    <div class="control-group">
    {{#link-to "songs" artistCode titleCode}}    
        <button class="btn ca_button" {{action 'insertMemory'}}>share memory</button> 
    {{/link-to}}
    </div>                
  </form>    
</script>

<script type="text/x-handlebars" data-template-name="memory"> 
  <div class="control-group row-fluid">      
    <!-- <button class="btn ca_button"><i class="icon-random icon-white"></i></button> -->
      <button class="btn btn-success ca_button" {{action 'zoomOut'}}><i class="icon-resize-small icon-white"></i> </button>
    <button class="btn btn-success ca_button" {{action 'centerMap'}}><i class="icon-map-marker icon-white"></i> </button>    
   <!-- <button class="btn ca_button"><i class="icon-resize-full icon-white"></i> </button>
    <button class="btn ca_button"><i class=" icon-zoom-out icon-white"></i> </button> -->
    <button class="btn ca_button offset1" {{action 'like'}}><i class="icon-heart icon-white"></i> <small>{{likes}}</small></button>  
    <button class="btn ca_button" {{action 'dislike'}}><i class="icon-thumbs-down icon-white"></i> <small>{{dislikes}}</small></button>       
    <button class="btn ca_button" {{action 'share'}}><i class="icon-gift icon-white"></i> </button>
    {{#link-to "memory" next}}       
    <button class="btn btn-primary ca_button" style="float:right;"><i class="icon-forward icon-white"></i> </button>                  
    {{/link-to}}
  </div> 
  <div class="content_display">
    {{#view App.YoutubeIframePlayerView}}{{/view}}
  </div> 
  <h4>{{g_place}} <small> - {{formattedDate memoryDateShare}}</small></h4>
  
  <div>
  <blockquote class="ca_blockquote">{{story}}</blockquote>
  <!--<p><small>{{tag1}}</small></p> -->
  <p class="muted"><small>uploaded {{timeAgo time_added}}</small></p>
  </div> 
</script>
