/* Override ca */
.navbar-inner .container, .navbar-inverse div.navbar-inner {
  background-color: rgba(231,41,138, 1);  
}

.navbar-inverse div.navbar-inner  {
  border-color: rgba(231,41,138, 1);
  /*border-bottom: 2px solid rgba(0, 119, 86, 1);*/
}

body {
  background-color: rgb(244, 255, 252);
}

.ca_section {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 220, 215, 0.4);  
}

button.ca_button {
  background-color: rgba(255, 110, 86, 0.9);  
}

button.ca_button:hover {
  background-color: rgba(255,66,35, 1);  
}

button.ca_button.active {
  background-color: rgba(5,66,35, 1);  
}

.nav-pills>.active>a, .nav-pills>.active>a:hover {
  background-color: rgba(0, 191, 143, 0.9);  
}

.nav-pills a {
  color: rgba(0, 191, 143, 0.65);
  background-color: rgba(0, 191, 143, 0.05);
}

.nav-pills a:hover {
  color: rgba(0, 191, 143, 1);
}


/* app-specific */

/* main layout */

html, #main_container{
    width: 100%;
    height: 100%;   
    background: #fef6fa;
}
    
body {
    width: 100%;
    height: 100%;   
}

body {
    padding-top: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}   
        
#map_container {
  height: 100%;
  width: 60%;
  float: left;
}

#map_canvas {
    width: 100%;
    height: 100%;
    float: left;
    /*
    position: absolute; 
    top: 40px;
    left: 0;
    z-index: -10; 
    */
}

#interface {
  width: 39%;
  height: 100%;
  float: left;
  border-left: 1px solid #fad4e7;
  /*background-color: #17040d;*/
  /*color: white;*/
  color: #2e081b;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    
    margin-left: auto;
    margin-right:auto;
    overflow: auto;
}

.content_display, .memory_display {
  width: 95%;
  height: 49%;
  float: left;
  padding: 2px;
}
    
#memory_display {    
    margin-top: 10px;
}

#right_panel {
    opacity:0.95;
    background-color:#FAFAFA;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);    
}
    
/*        
#header_menu {
    opacity:0.95;
}


.nav-tabs > li > a {
  color: #999
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #ffffff;
  cursor: default;
  background-color: #111;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
*/
    
              
/* YT player */        
.playerInnerBox_gsvb .player_gsvb {
    width : 480px;
    height : 360px;
}      
        
#videoBar {
    width : 100px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top : 4px;
    padding-right : 4px;
    padding-left : 4px;
    padding-bottom : 0px;
}


#player, #player_container_share {
  width: 100%;
  height: 100%;
    margin-left: auto;
    margin-right:auto;  
}

#search_tab, #share_tab {
  width: 85%;
  height: 90%;
    margin-left: auto;
    margin-right:auto;  
}

#share_tab {
  display: none;
}


body {
      font: normal normal 13px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
  color: #111111;
}

.nav .dropdown-toggle .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
}      


/*
#memoryDateRange div {
  width: 40%;
  float: left;
}*/